<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- FOOTER -->
    <footer th:fragment="copy" class="footer">
        <div class="container grid grid--footer">
            <div class="logo-col">
                <a href="#" class="footer-logo"> BookSale </a>

                <ul class="social-links">
                    <li>
                        <a class="footer-link" href="#"
                        ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
                        ></a>
                    </li>
                    <li>
                        <a class="footer-link" href="#"
                        ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
                        ></a>
                    </li>
                    <li>
                        <a class="footer-link" href="#"
                        ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
                        ></a>
                    </li>
                </ul>

                <p class="copyright">
                    Copyright &copy; 2027 by BookSale, Inc. All rights reserved.
                </p>
            </div>
            <div class="address-col">
                <p class="footer-heading">Liên hệ</p>
                <address class="contacts">
                    <p class="address">1 Võ Văn Ngânn - Thủ Đức - Hồ Chí Minh</p>
                    <p>
                        <a class="footer-link" href="tel:0383314133">0383314133</a><br />
                        <a class="footer-link" href="dtb742002@gmail.com"
                        >dtb742002@gmail.com</a
                        >
                    </p>
                </address>
            </div>
            <nav class="nav-col">
                <p class="footer-heading">Tài khoản</p>
                <ul class="footer-nav">
                    <li><a class="footer-link" href="#">Tạo tài khoản</a></li>
                    <li><a class="footer-link" href="#">Đăng ký</a></li>
                    <li><a class="footer-link" href="#">Cá nhân</a></li>
                </ul>
            </nav>

            <nav class="nav-col">
                <p class="footer-heading">Công ty</p>
                <ul class="footer-nav">
                    <li><a class="footer-link" href="#">Về chúng tôi</a></li>
                    <li><a class="footer-link" href="#">Tác giả</a></li>
                    <li><a class="footer-link" href="#">Nhà xuất bản</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>