<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ common/head.html :: common_header(~{::title},~{}) }">
    <title>The BookSale</title>
</head>

<body>
<!-- HEADER -->
<header>
    <section th:replace="~{common/header.html :: copy}"></section>

    <section class="section-slider container">
        <div class="slider-container">
            <div class="slider">
                <div class="slide">
                    <img
                            class="slider-img"
                            th:src="@{/imgs/slider/banner0.png}"
                            alt="New books"
                    />
                </div>

                <div class="slide">
                    <img
                            class="slider-img"
                            th:src="@{/imgs/slider/banner1.jpeg}"
                            alt="non-fiction"
                    />
                </div>

                <div class="slide">
                    <img
                            class="slider-img"
                            th:src="@{/imgs/slider/banner2.jpeg}"
                            alt="Best seller"
                    />
                </div>
            </div>

            <button class="btn-circle btn-left">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </button>
            <button class="btn-circle btn-right">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
            <div class="dots"></div>
        </div>
    </section>
</header>

<!-- MAIN CONTENT -->
<main>
    <div class="main-container">
        <div class="product-section container">
            <section class="top-product-section">
                <div class="tp-header margin-bottom-lg">
                    <p class="subheading">Sản phẩm nổi bật</p>
                    <div class="tp-btn-section">
                        <button class="btn btn--full btn--all">Xem tất cả</button>
                        <button class="btn-circle btn-pre">
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </button>
                        <button class="btn-circle btn-next">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </button>
                    </div>
                </div>

                <div class="top-books grid grid-5--columns" >
                    <div class="top-book" th:each="book: ${books}">
                        <div class="tb-img-box">
                            <img
                                    class="tb-img"
                                    th:src="${book.mainImg}"
                                    alt="Cây cam ngọt của tôi"
                            />
                        </div>
                        <div class="tb-text-box">
                            <p class="tb-title" th:text="${book.title}"></p>
                            <p class="tb-author" th:text="${book.author.name}"></p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- PRODUCT SECTION -->
            <section class="products">


                <div class="bookshelf" th:each="cat:  ${categoriesMap.keySet()}">
                    <h2 class="heading-secondary bookshelf-heading" th:text="${categoriesMap.get(cat).categoryName}">

                    </h2>
                    <ul class="bookshelf-list">
                        <li  th:each="subcat, iterStat: ${categoriesMap.get(cat).subcategories}"
                             th:class="${iterStat.index == 0 ? 'selected' : ''}">
                            <a class="bs-link" th:data-number="${subcat.subCategoryId}" th:text="${subcat.name}"></a>
                        </li>
                    </ul>
                    <div class="bookshelf-container">
                        <div
                                class="books-container grid grid-5--columns margin-bottom-lg"
                        >
                            <div
                                    class="bs-img-box"
                                    role="img"
                                    aria-label="Ảnh bìa tiểu thuyết"
                            ></div>
                            <div class="book-card" th:each="book : ${__${cat}__Books}">
                                <span class="discount-tag" th:text=" '-' + ${book.discount} + '%' "></span>
                                <img
                                        th:src="${book.mainImg}"
                                        alt="Book Cover"
                                        class="card-img"
                                />
                                <div class="card-body">
                                    <h3 class="card-title" th:text="${book.title}"></h3>
                                    <div  class="card-rating rating">
                                        <span class="rating-number">4.8</span>
                                        <span><ion-icon name="star"></ion-icon></span>
                                        <span class="rating-text">Đã bán 200</span>
                                    </div>
                                    <div class="card-prices">
                                        <span class="card-discount" th:text="${book.finalPrice}"></span>
                                        <span class="card-price" th:text="${book.price}"></span>
                                    </div>
                                    <a href="#" th:href="@{/book/__${book.bookId}__}" class="card-link">mua sách &rarr;</a>
                                </div>

                            </div>

                        </div>

                        <div class="btn-all__container">
                            <a class="btn btn--full btn-bs-all" th:href="@{|/book/category/${categoriesMap.get(cat).kebabCaseName}|} + '?page=0'">Xem tất cả</a>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</main>

<!-- FOOTER -->
<footer th:replace="~{common/footer.html :: copy}"></footer>

<script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

</body>
</html>