<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{ common/head.html :: common_header(~{::title},~{::link}) }">
      <title>Register | Page</title>

      <link rel="stylesheet" th:href="@{/css/authentication.css}" >

    </head>
  <body>
    <!-- HEADER -->
    <header th:insert="~{common/header.html :: copy}"></header>

    <!-- MAIN CONTENT -->
    <main class="authen-section">
      <div class="authen-container">
        <div class="authen-nav margin-bottom-lg">
          <ul class="authen-nav__list">
            <li class="authen-nav__item">
              <a class="authen-nav__link login" th:href="@{/login}">Đăng nhập</a>
            </li>
            <li class="authen-nav__item open">
              <a class="authen-nav__link register" th:href=@{/register}>Đăng ký</a>
            </li>
          </ul>
        </div>
        <div class="authen-body__register">
          <h3 class="heading-tertiary login-heading">Đăng ký tài khoản</h3>

          <!-- FORM REGISTER-->
          <form class="authen-form"  th:action="@{/register}"
                th:object="${registerData}" method="POST">

            <div class="error-msg-box" th:if="${error}"><p class="error-msg" th:text="${error}"></p></div>

            <div class="form-control">
              <label class="margin-bottom-sm" for="fullName"
              >Họ và tên</label
              >
              <input
                      type="text"
                      name="fullName"
                      id="fullName"
                      th:field="*{fullName}"
                      placeholder="Bui Thanh Duy"
              />
            </div>

            <div class="form-control">
              <label class="margin-bottom-sm" for="email"
                >Email đăng nhập</label
              >
              <input
                type="email"
                name="email"
                id="email"
                th:field="*{email}"
                placeholder="dtb174@gmail.com"
              />
            </div>

            <div class="form-control">
              <label class="margin-bottom-sm" for="password"
                >Mật khẩu mới</label
              >
              <input th:field="*{password}" type="password" name="password" id="password" />
            </div>

            <div class="form-control">
              <label class="margin-bottom-sm" for="confirm-password"
                >Nhập lại mật khẩu</label
              >
              <input
                type="password"
                th:field="*{confirmPassword}"
                name="confirm-password"
                id="confirm-password"
              />
            </div>

            <button type="submit" class="btn btn--radius center">Đăng ký</button>
          </form>
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="~{common/footer.html :: copy}"></footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
